<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta %}{% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">

        {{ encore_entry_link_tags('app') }}

        {% block style %}{% endblock %}

        <script>
            if (document.cookie.indexOf('acceptCookies=true') > -1 ) {
                insertTracking();
            }

            function trackingOptIn() {
                insertTracking();
            }

            function trackingOptOut() {
                if (typeof _paq !== 'undefined') {
                    _paq.push(['forgetConsentGiven']);
                }

                document.cookie = 'acceptCookies=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/';
            }

            function insertTracking() {
                var _paq = window._paq || [];
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="//www.harangiert.de/matomo/";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '1']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
            }
        </script>
    </head>
    <body>
        {% include 'partials/navigation.html.twig' %}
        {% include 'partials/heading.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-11 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/renecatharsis" target="_blank" rel="noopener" aria-label="Link to Twitter profile">
                                    <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">
                            Copyright &copy; Rene Rösch {{ 'now'|date('Y') }}
                            <br>
                            Basierend auf dem <a href="https://blackrockdigital.github.io/startbootstrap-clean-blog/" target="_blank" rel="noopener">Clean Blog Template &copy; Blackrock Digital LLC</a>
                            veröffentlicht unter der <a href="https://github.com/BlackrockDigital/startbootstrap-clean-blog/blob/master/LICENSE" target="_blank" rel="noopener">MIT Lizenz</a>
                            <br>
                            Nutzt <a href="https://commons.wikimedia.org/wiki/File:Karte_der_U-Bahn_Hamburg.svg" target="_blank" rel="noopener">Karte der U-Bahn Hamburg</a>
                            mit Anpassungen
                            veröffentlicht unter der <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" target="_blank" rel="noopener">CC BY-SA 4.0 Lizenz</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        {% include 'partials/cookie_layer.html.twig' %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
