<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta %}{% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        {{ encore_entry_link_tags('app') }}

        {% block style %}{% endblock %}
    </head>
    <body>
        {% include 'partials/navigation.html.twig' %}
        {% include 'partials/heading.html.twig' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/renecatharsis" target="_blank" rel="noopener" aria-label="Link to Twitter profile">
                                    <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">
                            Copyright &copy; Rene Rösch {{ 'now'|date('Y') }}
                            <br>
                            Clean Blog Template &copy; <a href="https://startbootstrap.com/" rel="noopener">Blackrock Digital LLC</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        {% include 'partials/cookie_layer.html.twig' %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
