@import "variables";

body {
  color: $color;
  background-color: $bg-color;
}

table {
  color: $color !important;
}

hr {
  border-top: 1px solid $color;
}

a {
  color: $color;

  &:hover {
    color: $link-color;
  }
}

.post-preview {
  a {
    color: $color;

    &:hover {
      color: $link-color;
    }
  }

  .post-meta {
    color: $color;
  }
}

header {
  &.masthead {
    background-color: transparent;

    &:before {
      content: "";
      position: relative;
    }
  }
}

.btn-primary {
  background-color: $button-color;
  border-color: $button-border-color;
  font-size: 1.125rem;

  &:hover, &:focus, &:active {
    background-color: $link-color !important;
    border-color: $button-border-color-hover !important;
  }
}

.img-thumbnail {
  background-color: inherit;
}

#mainNav {
  background-color: $bg-color;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav > li.nav-item > a {
    color: #fff;
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    color: #fff;
    background-color: transparent;

    .navbar-nav > li.nav-item > a {
      color: #fff;
    }

    &.is-fixed {
      color: $color;
      background-color: $bg-color;
      opacity: 0.9;

      .navbar-brand {
        color: $color;
      }

      .navbar-nav > li.nav-item > a {
        color: $color;
      }
    }
  }
}

.list-inline-item + .list-inline-item {
  margin-left: 20px;
}

.svg-inline--fa {
  background-color: $color;
  display: var(--fa-display,inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
