.blueimp-gallery-carousel {
  .title {
    font-size: 14px;
    line-height: 1;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 2;
    }
  }

  a.prev, a.next {
    color: white;

    &:hover {
      color: white;
    }
  }
}