###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var/
!/var/.gitignore
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

# web
/public/bundles
/public/uploads
/public/build

# composer
/composer.phar
/vendor

# npm
package-lock.json
node_modules

# phpcs
.php_cs.cache
.php_cs

# IDEs
/.idea
*.iml
*~
.web-server-pid

# System files
.DS_Store
