{% extends "main_error.html.twig" %}

{% block content %}
    <h1>Verlaufen?</h1>

    <p>
        Diese Seite gibt es wohl nicht &#x1F937
        <br>
        Starte am besten noch mal <a href="{{ sulu_content_root_path() }}">von vorne</a>.
    </p>
{% endblock %}
