{% extends "master.html.twig" %}

{% block content %}
    <h1>Hoopla &#x1F605</h1>

    <p>
        Das hätte nicht passieren sollen.
        <br>
        Starte am besten noch mal <a href="{{ sulu_content_root_path() }}">von vorne</a>.
    </p>
{% endblock %}
