{% set cookieLayer = sulu_snippet_load_by_area('cookielayer') %}
{% if null != cookieLayer %}
<div class="alert text-center cookiealert position-fixed" role="alert">
    {{ cookieLayer.content.cookielayer_text|filter_rich_text|raw }}

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        {{ cookieLayer.content.cookielayer_button }}
    </button>
</div>
{% endif %}