{% extends "main.html.twig" %}

{% block meta %}
    {% include "@SuluWebsite/Extension/seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('de')
    } %}
{% endblock %}

{% block content %}
    {% set authorObject = sulu_resolve_user(author) %}
    <section class="mx-4 md:max-w-3xl md:mx-auto pt-12 pb-20 text-zinc-200">
        <article itemscope itemtype="https://schema.org/Blog" role="main">
            <meta itemprop="author" content="{{ authorObject.contact.firstName|default('') ~ ' ' ~ authorObject.contact.lastName|default('') }}">
            <h1 class="text-5xl font-bold pb-8">{{ content.title }}</h1>

            {% if content.blocks|length > 0 %}
                {% for block in content.blocks %}
                    {% include 'blocks/' ~  block.type ~ '.html.twig' with { 'block': block } only %}
                {% endfor %}
            {% endif %}

            <footer class="pt-16">
                <div class="flex flex-wrap justify-content-between gap-3">
                    {% if previousArticle is defined and null != previousArticle %}
                        <a class="btn-blogpost" href="{{ previousArticle.urls[app.request.locale] }}">&larr; Letzter Beitrag</a>
                    {% endif %}
                    {% if nextArticle is defined and null != nextArticle %}
                        <a class="btn-blogpost" href="{{ nextArticle.urls[app.request.locale] }}">Nächster Beitrag &rarr;</a>
                    {% endif %}
                </div>
            </footer>
        </article>
    </section>
{% endblock %}
