{% extends "main.html.twig" %}

{% block meta %}
    {% include "@SuluWebsite/Extension/seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('de')
    } %}
{% endblock %}

{% block content %}
<main class="max-w-3xl mx-4 md:mx-auto pt-80 pb-20 text-zinc-200">
    <h1 class="text-5xl pb-4" property="title">{{ content.title }}</h1>
    <div class="text-xl" property="article">
        {{ content.article|tailwind_rich_text|raw }}
    </div>
</main>

{% endblock %}
