.map-draggable {
  cursor: pointer;
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 2px;

  @media screen and (min-width: 768px) {
    padding: 5px;
  }

  &:active {
    cursor: move;
  }

  a.text-underline {
    text-decoration: underline;
  }
}