<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta %}{% endblock %}

        {{ encore_entry_link_tags('app') }}

        {% block style %}{% endblock %}
    </head>
    <body>
        {% include 'partials/navigation.html.twig' %}
        <header class="masthead">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </header>

        {% include 'partials/footer.html.twig' %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
